.button{
    min-width: 100px;
    height: 35px !important;
    color:#ffffff;
    border:unset;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
}

.button-sub{
    background-color: #ffffff;
    border:1px solid#9dd8e7;
}

.button-sub:hover{
    background-color: #d1edf4;
}

.button-main{
    background-color:#1aa4c8;
}

.button-main:hover{
    background-color: #0582a2;
}

.button-main:active{
    background-color: #28b7dc;
}

.button-main:focus, 
.button-online:focus, 
.button-online:hover, 
.button-online:active{
    background-color: #1aa4c8;
    color:#ffffff;
    border: unset;
}

.button-main:disabled{
    background-color: #8cd1e3;
}

.button+.button{
    margin-left:12px;
}

.button-add{
    display: flex;
    align-items: center;
    padding:0px 11px;
    border-radius: 3px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, .16);
}

.button-icon{
    height: 36px;
    width: 36px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, .16);
    cursor: pointer;
}

.button-add+.button-icon{
    margin-left: 11px;
}

.button-icon+.button-icon{
    margin-left: 11px;
}

.button-cancel{
    background-color: #ffffff;
    color:#000000;
    border-radius: 3px;
    padding: 0px 24px;
    border: 1px solid #afafaf;
}

.button-nosave{
    color:#1aa4c8;
    border: 1px solid #1aa4c8;
    padding:0px 24px;
}

.button-save{
    background-color: #1aa4c8;
    padding: 0px 24px;
}