.pagination{
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: start;
    padding-left: 16px;
    font-size: 11px;
    background-color: #ffffff;
    border: 1px solid #afafaf;
    border-top: unset;
    border-radius: 0px 0px 5px 5px ;
    box-sizing: border-box;
}

.pagination-right{
    display: flex;
    align-items: center;
}

.btn-pagination{
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.btn-pagination:hover{
    background-color: #f2f2f2;
    color:black;
    border:none;
}

.pagination-number{
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    color:black;
    box-sizing: border-box;
}

.pagination-number+.pagination-number{
    margin-left:7px;
}

.paginationActive{
    background-color: #f2f2f2;
    font-weight: 700;
}

.pagination-center{
    margin:0px 20px;
}

.pagination-item+.pagination-item{
    margin-left: 7px;
}

.pagination-item i{
    color:#2f2f2fb5;
}